﻿body 
{
    margin-left:20px;
}
p,li,th,td
{
    font-family:Raleway, verdana,helvetica,arial,sans-serif;
    font-size:14px;
    font-weight:400;
    font-style:normal;
}
img#golfimg
{
    float:right;
    width:300px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px Black;
}
h1, h2, h3 {
    color: #003366;
    font-family: Raleway, BankGothic Lt BT;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
div#attribution
{
    background-color: #F9F9F9;
    border: double 3px #000000;
    padding: 5px 5px 5px 5px;
    margin: 20px 40px;
    font-family: Raleway, Tw Cen MT Condensed,Garamond;
    font-size: 10pt;
    width:auto;
    float:left;

}
div.salespitch
{
    border-style:solid;
    border-width: 1px;
    border-color:#FFFFFF;
    padding: 5px 5px 5px 5px;
    margin: 20px 40px;
    color: #FFFFFF;
    font-family: Raleway,verdana,helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight:bold;
    width:400px;
    float:left;
    background: #DFE5EA url(background.jpg) repeat-x scroll left top;

}
.salespitch A:link {text-decoration:underline;color: #C68D04;}
.salespitch A:visited {text-decoration: underline;color: #C68D04;}
.salespitch A:active {text-decoration: underline;color: #C68D04;}
.salespitch A:hover {text-decoration: underline;color: #C68D04;}


blockquote
{
    font-family: Raleway,Courier,verdana,helvetica,arial,sans-serif;
    font-size:10pt;
}
table 
{
    background:#F9F9F9;
    border: 1px #AAAAAA solid;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-left: 50px;

}

th
{
    background-color: #dfdfdf;
    text-align:center;
    border: solid 1px #AAAAAA;
    font-weight:bold;
    padding: 3px 3px 3px 3px;
}
td
{
    text-align:center;
    border: solid 1px #AAAAAA;
    padding: 3px 3px 3px 3px;
}
td.rowheader
{
    background-color: #dfdfdf;
    border: solid 1px #AAAAAA;
}

div.question
{
    font-family:Raleway, verdana,helvetica,arial,sans-serif;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    margin-bottom: 20px;
    padding: .75rem 1.25rem;
}
div.answer
{
    font-family:Raleway, verdana,helvetica,arial,sans-serif;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    margin-left: 30px;
}
div.correctAnswer
{
    font-family:Raleway, verdana,helvetica,arial,sans-serif;
    font-size:12px;
    /*font-weight:bolder;*/
    font-style:normal;
    /*color: #003366;*/
    margin-left: 30px;
}

div .radio {
    margin: 0.5rem;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        + .radio-label {
            &:before {
                content: '';
                background: #f4f4f4;
                border-radius: 100%;
                border: 1px solid darken(#f4f4f4, 25%);
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                position: relative;
                top: -0.2em;
                margin-right: 1em; 
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            + .radio-label {
                &:before {
                    background-color: #3197EE;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
                }
            }
        }
        &:focus {
            + .radio-label {
                &:before {
                    outline: none;
                    border-color: #3197EE;
                }
            }
        }
        &:disabled {
            + .radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px #f4f4f4;
                    border-color: darken(#f4f4f4, 25%);
                    background: darken(#f4f4f4, 25%);
                }
            }
        }
        + .radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

/*feedback*/
.color-box {
    margin: 2rem 0;
    padding-left: 2rem;
    position: relative;
}

.space {
    margin-bottom: 3rem !important;
}

.shadow {
    background: #F7F8F9;
    padding: 3px;

}

.info-tab::before, .info-tab::after {

    display: inline-block;
    color: #fff;
    line-height: normal;
    position: absolute;

}
.tip-icon::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0eb";
    font-size: 1.8rem;
    top: 7px;
    left: 13px;

}
.tip-icon {
    background: #92CD59;
}
.info-tab {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    left: 0;
}
.tip-box {
    color: #2e5014;
    background: #d5efc2;
}


.info-tab i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    bottom: -18px;
}
.info-tab i::before, .info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -15px;
    transform: rotateX(60deg);
}
.tip-icon i::before {
    background: #75b436;
    content: "\f0eb";
    font-size: 2.4rem;
}
.info-tab i::before {
    width: 20px;
    height: 20px;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab i::before {
    width: 20px;
    height: 20px;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.info-tab i::before, .info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -15px;
    transform: rotateX(60deg);

}
.tip-box {
    color: #2e5014;
    background: #d5efc2;
}
.note-box, .warning-box, .tip-box {
    padding: 0.5rem 1.5rem .25rem 2.75rem;
}
input, select, textarea, button, div, span, a {
    box-sizing: border-box;
}

/*question*/

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*buttons*/
.btn-info {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}