/* stylelint-disable */
.transversal .accordion-heading {
    background-color: #0072c0;
}

.accordion-heading .accordion-toggle {
    color:  #fff;
}

.format-transversal .accordion-caret .accordion-toggle:not(.collapsed)::before {
    content: "\25BE";
    margin-right: 5px;
    font-size: 18px;
}

.format-transversal .accordion-caret .accordion-toggle.collapsed::before {
    content: "\25B8";
    margin-right: 5px;
    font-size: 18px;
}

.format-transversal .course-content ul.transversal {
    margin: 0;
    padding: 0;
}
.format-transversal .course-content ul.transversal li.section {list-style: none;margin:3px 0 2px 1em;padding-left:5px;padding-right:0;}
.course-content ul.transversal li.movehere {list-style: none;margin:3px 0 2px 1em;}
.dir-rtl.format-transversal .course-content ul.transversal li.section,
.dir-rtl.course-content ul.transversal li.movehere {margin:3px 1em 2px 0;}
.format-transversal .course-content ul.transversal-level-0 > li.section {margin-left: 0;}
.format-transversal .course-content ul.transversal-level-0 > li.movehere {margin-left: 0;}
.format-transversal .course-content ul.transversal li.section.main {border:none;}
.format-transversal .course-content ul.transversal-level-1 > li.section.main {border: none;margin-left:0;padding-right:5px;}
.format-transversal .course-content ul.transversal li.section .controls img {padding-left:0.3em;padding-right:0.3em}
.format-transversal .course-content ul.transversal li.section .availabilityinfo {padding-bottom: .5em;}
.format-transversal .course-content ul.transversal li.section ul.section {margin-left:0;margin-right:0;padding-left:0;}
.format-transversal .course-content ul.transversal li.section > .content > .summary {margin-left:0;padding-left:0.2em;}

/* Overwrite bootstrapbase styles */
.format-transversal .course-content ul.transversal .controls a.hide,
.format-transversal .course-content ul.transversal .controls a.show {display:inline;}

/* hidden section */
.format-transversal .course-content li.section.hidden > .content > h3.sectionname,
.format-transversal .course-content li.section.hidden > .content > h3.sectionname a,
.format-transversal .course-content li.section.hidden > .content > .summary,
.format-transversal .course-content li.section.hidden .addresourcemodchooser a,
.format-transversal .course-content li.section.hidden a.addsection {color:#AAAAAA;}

/* add extra borders in editing mode */
.format-transversal.editing .course-content ul.transversal li.section.main {border: #DDDDDD solid 1px;}
.format-transversal.editing .course-content ul.transversal li.section.main#section-0 {border: none;}

/* moving section */
.format-transversal .course-content ul.transversal li.section.ismoving {background:#EEEEEE;}
.format-transversal .course-content ul.transversal li.movehere > img {padding-left:5px;}
.format-transversal .course-content div.cancelmoving {margin:3px;padding:5px;background:yellow;border:1px solid black;text-align:center;position:fixed;top:0;right:0;}

.format-transversal .jumpmenu {text-align:center;}

.format-transversal .header.backto {padding: 5px 10px;border: 1px solid #DDD;margin-bottom:5px;}
.format-transversal .header.backto .backto-text {margin-left:10px;}