/*start style scorm */
body{
	font-family: 'Montserrat', sans-serif;
}

.A-{
    background-color: #d1ecf1;
    border-color: #bee5eb;
    line-height: 2;
    border-radius: .25rem;
    padding-left: 10px;
}

.a{
    font-weight: bold;
}

.pie-de-imagen{
    font-style: italic;
    font-size: 10px;
    text-align: center;
}

.tema{
	padding: 8px 0;
        padding-left: 0px;
	background: #f4f4f4;
	color: #666;
	border-color: #EEE #EEE #EEE #0574b9;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	padding-left: 4px;
	margin-top: 0;
	font-size: 1.4em;
	line-height: 20px;
}

.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list-group-item {
	background-color: #F4F8FA;
	border-left: 6px solid #5BC0DE;
	margin-bottom: 15px;
        position: static !important;
}

._-1{
	margin: 20px 0px;
	padding: 20px;	
	background: #0574b9 none repeat scroll 0px 0px;
	color: rgb(255, 255, 255);
}

._-{
    margin: 20px 0px;
    padding: 20px;	
    background: #0574b9 none repeat scroll 0px 0px;
    color: rgb(255, 255, 255);
}

.Titulo-tema{
	background: none repeat scroll 0 0 rgba(0,114,185,.8) !important;
	padding: 4px 8px;
	font-size: .95em;
	width: 100%;
	display: block;
	margin-top: 20px;
	color: #fff !important;
	left: 0;
	padding: 20px;
	top: 0;
}

.titulo-referencias{
	background: #f4f4f4;
	border: medium none;
	margin-bottom: 10px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	font-weight: bold;
	padding: 8px;
}

.texto-referencias{
	margin-left: 30px;
}

/*end styles scorm*/


.list-group-item{
	width: 100%;
}

.h4, h4 {
    margin-top: 20px;
}
.box-sectiopn i{
	font-size:60px;
	padding-top:20px; 
}
.box-sectiopn{
	cursor: pointer;
}
.box-sectiopn:hover i{
	font-size: 80px;
	transition: 0.5s;
}
.mark, mark {
    padding: 0em;
    background-color: #ffc107;
}

.fixed{
	overflow: hidden;
	position: sticky; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
}

/*graph*/
  .node {
    cursor: pointer;
  }

  .overlay{
      background-color:#fff;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }
  
  /*end graph*/