/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-mar-2022, 9:59:49
    Author     : Cristofer
*/

.block_gantt .overviewButton {
    margin: auto;
    width: 55%;
}

.scroll-calendar{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height: 550px;
}

.bar{
    white-space: nowrap;
    text-align: center !important;
    vertical-align: middle !important;
}

.info{
    background-color: #d9edf7;
}

.danger{
    background-color: #f2dede;
}

.success{
    background-color: #dff0d8;
}

.today{
    border: solid 2px red;
    background-color: #f2dede;
}

.tareas{
    white-space: nowrap;
    background-color: #fcf8e3;
}

.days{
    background-color: #f5f5f5;
}

.infopanel{
    padding-left: 7%;
}

.dateprogress{
    font-size: xx-large;
}