	<div class="col-lg-12 box-sectiopn pb-4">
		<div class="row m-0">
			<div class="col-lg-3 text-center bg-info block text-white">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</div>
			<div class="col-lg-9 card-body border-right border border-info">
				<h5 class="card-title text-secondary">title</h5>
				<p class="card-text">content</p>
			</div>
		</div>
	