/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-mar-2022, 9:59:49
    Author     : Cristofer
*/

.countdown-block{
    font-size:26px;
    margin:5px;
    text-align: center;
    color: #d58d11 !important;
}

/*course search style*/
.text-countdown{
    color:#d58d11;
}
.ml{
    margin-left: 60px;
}

.course-btn{
    padding: 35px 0px 10px;
}