.section_add_menus {text-align:right;}
.dir-rtl .section_add_menus {text-align:left;}
.section_add_menus .horizontal div,
.section_add_menus .horizontal form {display:inline;}
.section_add_menus optgroup {font-weight:normal;font-style: italic;}
.section_add_menus .urlselect { margin-left: .4em;}
.dir-rtl .section_add_menus .urlselect { margin-right: .4em; margin-left: 0;}
.section_add_menus .urlselect select { margin-left: .2em;}
.dir-rtl .section_add_menus .urlselect select { margin-right: .2em; margin-left: 0;}
.section_add_menus .urlselect img.iconhelp { padding: 0; margin: 0; vertical-align: text-bottom;}

.site-topic ul.section,
.course-content ul.section { margin: 1em;}
.sitetopic .section .activity img.activityicon,
.course-content .section .activity img.activityicon {vertical-align:text-bottom;margin-right: 6px;}
.dir-rtl .sitetopic .section .activity img.activityicon,
.dir-rtl .course-content .section .activity img.activityicon {margin-left: 6px; margin-right: 0;}
.sitetopic .section .activity .activityinstance,
.course-content .section .activity .activityinstance,
.sitetopic .section .activity .activityinstance div,
.course-content .section .activity .activityinstance div { display: inline;}
.sitetopic .section .activity .activityinstance,
.course-content .section .activity .activityinstance { padding-right: 3em; }
.dir-rtl .sitetopic .section .activity .activityinstance,
.dir-rtl .course-content .section .activity .activityinstance { padding-right: 0; padding-left: 3em;}
.sitetopic .section .activity .commands,
.course-content .section .activity .commands { white-space: nowrap; display: inline; }
.sitetopic .section .activity .commands img,
.course-content .section .activity .commands img { vertical-align: baseline; padding: 0 2px; }
.sitetopic .section li.activity,
.course-content .section li.activity {padding: .2em;}
.section .activity .activityinstance .groupinglabel { padding-left: .45em; }
.sitetopic .section .activity .availabilityinfo,
.sitetopic .section .activity .contentafterlink,
.course-content .section .activity .availabilityinfo,
.course-content .section .activity .contentafterlink { margin-top: 0.5em; margin-left: 30px;}
.dir-rtl .sitetopic .section .activity .availabilityinfo,
.dir-rtl .sitetopic .section .activity .contentafterlink,
.dir-rtl .course-content .section .activity .availabilityinfo,
.dir-rtl .course-content .section .activity .contentafterlink { margin-left: 0; margin-right: 30px;}
.section .activity .contentafterlink p { margin:.5em 0; }
.sitetopic .section .activity:hover,
.course-content .section .activity:hover { background-color: #EEE; }
.course-content .section-summary { border: 1px solid #DDD; margin-top: 5px; list-style: none; }
.course-content .section-summary .section-title  { margin: 2px 5px 10px 5px; }
.course-content .section-summary .summarytext { margin: 2px 5px 2px 5px; }
.course-content .section-summary .section-summary-activities .activity-count {margin-right: 10px;color: #AAA; font-size: 12px; margin-right: 15px;}
.course-content .section-summary .summary { margin-top: 5px; }
.course-content .single-section { margin-top: 1em; }
.course-content .single-section .section-navigation { display: block; padding: 0.5em; margin-bottom: -0.5em; }
.course-content .single-section .section-navigation .title { font-weight: bold; font-size: 108%; }
.course-content .single-section .section-navigation .mdl-left { font-weight: normal; float: left; margin-right: 1em; }
.dir-rtl .course-content .single-section .section-navigation .mdl-left {float:right;}
.course-content .single-section .section-navigation .mdl-left .larrow { margin-right: 0.1em; }
.course-content .single-section .section-navigation .mdl-right { font-weight: normal; float: right; margin-left: 1em; }
.dir-rtl .course-content .single-section .section-navigation .mdl-right {float: left;}
.course-content .single-section .section-navigation .mdl-right .rarrow { margin-left: 0.1em; }
.course-content .single-section .section-navigation .mdl-bottom { margin-top: 0; }

#page-site-index .subscribelink {text-align:right;}
#page-site-index .headingblock {margin-bottom: 9px;}
#page-site-index .clearfloat {float: none;clear: both; height:0px;}

.path-course-view a.reduce-sections {padding-left: 0.2em;}
.path-course-view .headingblock {margin-bottom: 9px;}
.path-course-view .subscribelink {text-align:right;}
.path-course-view .unread {margin-left: 3em;}
.path-course-view .block.drag .header {cursor: move;}
.path-course-view .completionprogress { text-align: right; }
.dir-rtl.path-course-view .completionprogress { text-align: left; }
.path-course-view .single-section .completionprogress { margin-right: 5px; }
.path-course-view .section .summary {line-height:normal;}

.path-site li.activity > div,
.path-course-view li.activity > div {position:relative;}
.path-course-view li.activity span.autocompletion,
.path-course-view li.activity form.togglecompletion {position: absolute; top: 0; right: .2em;}
.path-course-view li.activity span.autocompletion img,
.path-course-view li.activity form.togglecompletion input {position:absolute; top: .25em; right: 0px;}
.path-course-view li.activity form.togglecompletion .ajaxworking {position:absolute; right: 22px; top: 5px; width: 16px; height: 16px; background: url([[pix:i/ajaxloader]]) no-repeat;}
.path-course-view li.activity form.togglecompletion div {display:inline;}
.dir-rtl.path-course-view li.activity form.togglecompletion,
.dir-rtl.path-course-view li.activity span.autocompletion {left:1.7em;right:auto;padding:0px;}
.dir-rtl.path-course-view .completionprogress {float: none;}
.dir-rtl.path-course-view li.activity form.togglecompletion .ajaxworking {right: -22px;}

li.section.hidden span.commands a.editing_hide,
li.section.hidden span.commands a.editing_show {cursor:default;}

.section img.movetarget {height:16px;width:80px;}

.course ul.section {margin:5px;padding:0;}

.weeks-format, /* Window-width: 800 pixels.IE doesn't support, see inline IE conditional comment. */
.topics-format {margin-top: 8px;min-width: 763px;}

#page-course-pending .singlebutton,
#page-course-index .singlebutton,
#page-course-index-category .singlebutton,
#page-course-editsection .singlebutton {text-align:center;}

#coursesearch {margin-top: 1em;text-align:center;}

#page-course-pending .pendingcourserequests {margin-bottom: 1em;}
#page-course-pending .pendingcourserequests .singlebutton {display: inline;}
#page-course-pending .pendingcourserequests .cell {padding: 0 5px;}
#page-course-pending .pendingcourserequests .cell.c6 {white-space: nowrap;}

/* Courses and categories lists */

.coursebox {width: 100%;}
.coursebox.collapsed {margin-bottom:0}
.coursebox.collapsed > .content {display:none;}
.coursebox > .info > .name a {display:block; color: #FFFFFF; text-transform: none; font-size: 12px;}
.coursebox.remotehost .name a {background-image:url([[pix:moodle|i/mnethost]]);}
.coursebox > .info > .name,
.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile {float:left;width:40%;clear:left;}
.coursebox .content .teachers li {list-style-type:none;padding:0;margin:0;}
.coursebox .enrolmenticons {padding:3px 0;float:right;}
.coursebox .moreinfo {padding:3px 0;float:right;}
.coursebox .enrolmenticons img,
.coursebox .moreinfo img {margin:0 .2em;}
.coursebox .content {clear:both;overflow: hidden;}
.coursebox .content .summary,
.coursebox .content .coursecat {float:right;width: 55%;}
.coursebox .content .coursecat {text-align:right;clear:right;}
.coursebox.remotecoursebox .remotecourseinfo {float:left;width: 40%;}
.coursebox .content .courseimage img {max-width:100px;max-height:100px;}

.coursebox >.info >.name {
    background: [[setting:color3]];
    margin-top: 0;
    padding: 5px 15px;
    width: 100%;
}


.coursebox .content .teachers,
.coursebox .content .coursecat,
.coursebox .content .summary,
.coursebox .content .courseimage,
.coursebox .content .coursefile,
.coursebox.remotecoursebox .remotecourseinfo {margin:3px 5px;padding:0;}

.dir-rtl .coursebox > .info > .name a {padding-left:0;padding-right:21px;background-position: top right;}
.dir-rtl .coursebox > .info > .name,
.dir-rtl .coursebox .teachers,
.dir-rtl .coursebox .content .courseimage,
.dir-rtl .coursebox .content .coursefile {float:right;clear:right;}
.dir-rtl .coursebox .enrolmenticons,
.dir-rtl .coursebox .moreinfo {float:left;}
.dir-rtl .coursebox .summary,
.dir-rtl .coursebox .coursecat {float:left;}
.dir-rtl .coursebox .coursecat {text-align:left;clear:left;}

.course_category_tree .category .numberofcourse {font-size: 0.85em;}

.course_category_tree .controls {visibility: hidden;}
.course_category_tree .controls div {display:inline;cursor:pointer;}
.jsenabled .course_category_tree .controls {visibility: visible;}

.course_category_tree .category>.info .name {background-image:url([[pix:moodle|t/collapsed_empty]]);background-repeat: no-repeat;background-position:center left;}
.dir-rtl .course_category_tree .category>.info .name {background-image:url([[pix:moodle|t/collapsed_empty_rtl]]);background-position:center right;}
.course_category_tree .category.with_children>.info .name {background-image:url([[pix:moodle|t/expanded]]);}
.course_category_tree .category.with_children.collapsed>.info .name {background-image:url([[pix:moodle|t/collapsed]]);}
.dir-rtl .course_category_tree .category.with_children.collapsed>.info .name {background-image:url([[pix:moodle|t/collapsed_rtl]]);}
.course_category_tree .category.collapsed>.content {display:none;}

.course_category_tree .category > .info .name {padding:2px 18px;margin:3px;}
.course_category_tree .category > .content {padding-left:16px;overflow: hidden;}

.dir-rtl .course_category_tree .category > .content {padding-left:0;padding-right:16px;}

.course_category_tree .subcategories > .paging,
.courses > .paging {margin:0;padding:5px;text-align:center;}

.courses > .paging.paging-morelink,
.course_category_tree .subcategories > .paging.paging-morelink {text-align:left;}

.dir-rtl .courses > .paging.paging-morelink,
.dir-rtl .course_category_tree .subcategories > .paging.paging-morelink {text-align:right;}

#page-course-info .generalbox.info,
#page-enrol-index .generalbox.info {border:none;}

.path-course .clearfloat {float:none; clear:both;height:0px;}

/* Quick edit of module name */

.sitetopic .section .activity form.activityinstance,
.course-content .section .activity form.activityinstance { display: inline; vertical-align: bottom; }
span.editinstructions {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -22px;
    margin-left: 30px;
    line-height: 16px;
    font-size: .85em;
    padding: .1em .4em;
    background-color: #ffc;
    color: #000;
    text-decoration: none;
    z-index:9999;
    box-shadow:2px 2px 5px 1px #ccc;
    border:1px solid #ddd;
}
.dir-rtl span.editinstructions { left: auto; right: 32px;}
input.titleeditor { width: 330px; vertical-align: text-bottom; }

/* Course drag and drop upload styles */
#dndupload-status {width:40%;margin:0 30%;padding:6px;border:1px solid #ddd;text-align:center;background:#ffc;position:absolute;z-index:9999;box-shadow:2px 2px 5px 1px #ccc;border-radius:0px 0px 8px 8px;z-index: 0;}
.dndupload-preview {color:#909090;border:1px dashed #909090;list-style:none; margin-top: .2em; padding: .3em; line-height: 16px;}
.dndupload-preview img.icon { vertical-align: text-bottom; padding: 0;}
.dndupload-progress-outer {width:70px;border:1px solid black;border-radius:4px;height:10px;display:inline-block;margin:0;padding:0;overflow:hidden;position:relative;}
.dndupload-progress-inner {width:0%;height:100%;background-color:green;display:inline-block;margin:0;padding:0;float:left;box-shadow: 0 0 4px #229b15;border-radius:2px;background-repeat:repeat-x;background-position:top;background-image:url([[pix:theme_base|progress]])}
.dndupload-hidden {display:none;}
