/* Header */
#topbar{
    background-color: [[setting:color3]];
    height: 33px;
}
.topbutton{
    background-color: [[setting:color2]];
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    height: 33px;
    width: 70px;
    
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.topbutton:hover{
    background-color: [[setting:color4]];
}
.topbutton a{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px !important;
    text-decoration: none;
}
.topbutton a:hover{
    text-decoration: none;
}
#login  { padding: 6px 16px; }
#home   { padding: 6px 15px; }
#logout { padding: 6px 10px; }

#menubar{
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    height: 100px;
    padding: 12px 0 112px 0;    
    
    -webkit-transition: height 0.1s 0.1s ease-in;
   -moz-transition: height 0.1s 0.1s ease-in;
   -o-transition: height 0.1s 0.1s ease-in;
   -ms-transition: height 0.1s 0.1s ease-in;
   transition: height 0.1s 0.1s ease-in;
    -webkit-transition: padding 0.1s 0.1s ease-in;
   -moz-transition: padding 0.1s 0.1s ease-in;
   -o-transition: padding 0.1s 0.1s ease-in;
   -ms-transition: padding 0.1s 0.1s ease-in;
   transition: padding 0.1s 0.1s ease-in;
}

.menubar-fixed{
    height: 90px !important;
    left: 0;
    padding: 5px 0 0 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    
   -webkit-transition: height 0.1s 0.1s ease-in;
   -moz-transition: height 0.1s 0.1s ease-in;
   -o-transition: height 0.1s 0.1s ease-in;
   -ms-transition: height 0.1s 0.1s ease-in;
   transition: height 0.1s 0.1s ease-in;
   -webkit-transition: padding 0.1s 0.1s ease-in;
   -moz-transition: padding 0.1s 0.1s ease-in;
   -o-transition: padding 0.1s 0.1s ease-in;
   -ms-transition: padding 0.1s 0.1s ease-in;
   transition: padding 0.1s 0.1s ease-in;
}

#sliderarea{
    margin-top: -20px;
}

/* Menu */
nav#menu{
    float: right;
    margin-top: 3px;
}
nav#menu a {
    color: [[setting:color3]];
    display: inline-block;
    font-size: 22px !important;
    font-weight: lighter;
    letter-spacing: 1px !important;
    margin: 17px 15px !important;
    outline: none;
    padding: 5px;
    position: relative;
    text-decoration: none;
    
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

nav#menu a::before,
nav#menu a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: [[setting:color2]];
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}


nav#menu a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

nav#menu a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

nav#menu a:hover,
nav#menu a:focus {
    color: [[setting:color2]];
}

nav#menu a:hover::before,
nav#menu a:focus::before,
nav#menu a:hover::after,
nav#menu a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


nav#menu a:last-child{
    margin-right: 0 !important;
}

/* Footer */
#footer{
    background: [[setting:color4]];
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    bottom: 0;
    height: 265px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

#footer ul{
    margin: 0;
}

#footer p.title{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    padding-bottom:3px;
    text-transform: uppercase;
}

#footerend{
    background: #020202;
    bottom: 0;
    color: #FFFFFF;
    height: 35px;
    margin: 0;
    position: relative;
    width: 100%;
}

#footerendleft{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    color: #F1F2F2;
    font-size: 14px;
    padding-top: 10px;
}

#footerendright{
    float: right;
}

/* Footer Ararazu Modules */

/* About us */
.footermod{
    color: #FFFFFF;
}

.footermod_aboutus p{
    text-align: justify;
    width: 100%;
}

/* Image */
.footermod_image div.image{
    height: 150px;
    width: 100%;
}
.footermod_image div.image img{
    height: 100%;
    width: 100%;
}

/* Links */
.footermod_links ul.links{
    list-style: none;
    width: 100%;
}
.footermod_links ul.links li{
    border-bottom: 1px solid #FFFFFF;
    padding: 6px 0;
}
.footermod_links ul.links li:first-child{
    padding-top: 0;
}
.footermod_links ul.links li:last-child{
    border-bottom: 0;
}

.footermod_links ul.links li a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Contact Info */
.footermod_contactinfo ul.contactinfos{
    list-style: none;
    width: 90%;
}
.footermod_contactinfo ul.contactinfos li{
    padding: 2px 0;
}
.footermod_contactinfo ul.contactinfos li:first-child{
    padding-top: 0;
}