/* Course List */
#featuredCoursesRow{
    background: [[setting:color3]];    
    padding: 10px 0 30px 0;
}
#featuredCourses,#myCourses{
    color: #FFFFFF;
    font-size: 19px !important;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 2px;
}
#myCourses{
    color: [[setting:color3]];
}
#featuredCoursesNav{
    margin-bottom: 10px;
}
#featuredCoursesNav div,#allCourses>a>div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    background: [[setting:color2]];
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 13px !important;
    font-weight: bold;
    height: 100%;
    margin-left: 7px;
    padding: 5px 10px;
    
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
#featuredCoursesNav div.navBlocked{
    background: #999999;
    cursor: none;
}
#allCourses div:hover{
    background-color: [[setting:color3]];
}

.course{
    border: 1px solid #EEEEEE;
    height: 200px;
    margin-bottom: 15px;
    width: 100%;
}

/* Banner */

#banner{
    margin-bottom: 30px;
    margin-top: 10px;
}