.loginbox{
    height: auto; 
    margin: 0 auto;
    width: 300px; 
}
.loginbox form{
    background: [[setting:color3]];
    height: 90px; 
    width: 300px; 
}
.loginbox div.alert{
    background: [[setting:color4]];
    color: #FFFFFF;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: center;
    width: 300px; 
}
.loginbox input[type="submit"]{
    background-color: #BBBBBB;
    background-image: url([[pix:theme|loginsubmit]]);
    background-repeat: no-repeat;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 53px;
    margin-left: -11px;
    margin-top: 19px;
    position: absolute;
    width: 53px;

     -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.loginbox input[type="submit"]:hover{
    background-color: [[setting:color2]];
}
.loginbox form .inputarea{
    height: 95px;
}
.loginbox form .inputarea div{
    float: left;
}
.loginbox form .inputarea div input[type="text"],
.loginbox form .inputarea div input[type="password"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    background: [[setting:color3]];
    border: 0;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    margin-left: 20px;
    height: 45px;
    padding: 2px 4px 0 0;
    width: 245px;
}
.loginbox form .inputarea div input[type="text"]:focus,
.loginbox form .inputarea div input[type="password"]:focus{
    outline:none;
}
.loginbox form .inputarea div input[type="text"]:-moz-placeholder,
.loginbox form .inputarea div input[type="password"]:-moz-placeholder,
.loginbox form .inputarea div input[type="text"]::-moz-placeholder,
.loginbox form .inputarea div input[type="password"]::-moz-placeholder,
.loginbox form .inputarea div input[type="text"]::-webkit-input-placeholder,
.loginbox form .inputarea div input[type="password"]::-webkit-input-placeholder,
.loginbox form .inputarea div input[type="text"]:-ms-input-placeholder,
.loginbox form .inputarea div input[type="password"]:-ms-input-placeholder{
    color: #FFFFFF !important;
}
.loginbox form .inputarea div input[type="password"]{
    border-top: 1px solid #FFFFFF;
}
.loginbox form .inputarea div input[type="text"]{
    margin-right: 15px;
}
.loginbox form p{
    color: [[setting:color4]];
    font-size: 15px;
    font-weight: bold;
}
.loginbox form a{
    color: [[setting:color3]];
    float: right;
    font-size: 13px;
    text-decoration: none;
}
.loginbox form div.remember{
    color: [[setting:color3]];
    float: left;
    font-size: 13px;
}
.loginbox form div.remember input[type="checkbox"]{
    cursor: pointer;
    float: left;
    margin-top: 2px; 
}
.loginbox form div.remember label{
    float: left;
}