.sb-search {
    position: relative;
    width: 0%;
    min-width: 40px;
    height: 33px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none !important;
    outline: none;
    background: [[setting:color3]];
    width: 100%;
    height: 33px !important;
    margin: 0;
    z-index: 10;
    padding: 10px 40px 10px 20px;
    font-family: inherit;
    font-size: 15px;
    color: #FFFFFF;
}

.sb-search-input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.sb-search-input:-moz-placeholder {
    color: #FFFFFF;
}

.sb-search-input::-moz-placeholder {
    color: #FFFFFF;
}

.sb-search-input:-ms-input-placeholder {
    color: #FFFFFF;
}

.sb-icon-search,
.sb-search-submit  {
    width: 40px;
    height: 33px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: [[setting:color3]] url([[pix:theme|search]])  no-repeat 7px 4px;
    z-index: 90;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: [[setting:color3]] url([[pix:theme|search]])  no-repeat 7px 4px;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}