{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/login

    Moodle template for the login page.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": true,
        "canloginbyemail": true,
        "cansignup": true,
        "error": "testerror",
        "errorformatted": "Test error formatted",
        "forgotpasswordurl": "http://example.com/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "instructions": "For full access to this site, you first need to create an account.",
        "loginurl": "http://example.com/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "username": ""
    }
}}

<style>
@import url("https://www.aulacursosoposiciones.com/theme/lambda/login/css/main.css");
@import url("https://www.aulacursosoposiciones.com/theme/lambda/login/css/util.css");
</style>
	
<div class="limiter">
    <div class="limiter">
        <div class="container-login100">
            <!--div class="login100-more" style="background-image: url('https://www.aulacursosoposiciones.com/theme/lambda/login/images/bg-01.jpg');"></div-->
            <div class="login100-more" style="overflow:hidden">
                <video preload="preload"  id="video" muted autoplay loop="loop" poster="https://www.aulacursosoposiciones.com/theme/lambda/login/videos/login.jpg" style="position: absolute;
                    top: 50%;
                    left: 50%;
                    width: auto;
                    min-width: 100%;
                    height: auto;
                    min-height: 100%;
                    transform: translateX(-50%) translateY(-50%);
                    z-index: -1;">
                    <source src="https://www.aulacursosoposiciones.com/theme/lambda/login/videos/login.webm" type="video/webm"></source>
                    <source src="https://www.aulacursosoposiciones.com/theme/lambda/login/videos/login.mp4" type="video/mp4"></source>
                </video>
            </div>


            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <form action="{{loginurl}}" method="post" id="login">
                    <span class="login100-form-title p-b-30">
                            {{#str}} login {{/str}}
                    </span>

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <span class="label-input100">Email</span>
                            <input id="input-login" placeholder="Usuario" class="input100" type="text" name="username" id="username" value="{{username}}">
                            <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            <span class="label-input100">Password</span>
                            <input id="input-login" placeholder="Contraseña" class="input100" type="password" name="password" id="password"  value="">
                            <span class="focus-input100"></span>
                    </div>




                    <div class="container-login100-form-btn" style="margin-bottom:20px;justify-content: center;">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <input style="margin: 0px;" class="login100-form-btn" type="submit" id="loginbtn" value={{#quote}}{{#str}} login {{/str}}{{/quote}} />
                        </div>
                    </div>
                </form>

                <div role="alert">
                    <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                    <span style="color:red">{{{errorformatted}}}</span>
                </div>

                <div class="desc" style="color:#434847;">
                    {{#str}} cookiesenabled {{/str}}
                    {{{cookieshelpiconformatted}}}
                </div>

                <div class="alert alert-info">
                    <p><i class="fa fa-user"></i>&nbsp;<a href="https://www.aulacursosoposiciones.com/login/forgot_password.php">¿Olvidó su nombre de usuario o contraseña?</a></p>
                </div>

                <!--div class="content">
                    <h3 style="font-size:1em;" class="sectionname"><span>PROYECTO PLATECGRAL : DESARROLLO DE UNA PLATAFORMA TECNOLOGICA INTEGRAL ( IDI-20200024)</span></h3>
                </div>


                <div class="desc" style="color:#434847; margin-bottom:10px;">
                    <p style="text-align:justify; font-size:11px;margin-top:10px;margin-bottom:10px;">El objetivo general del proyecto será el desarrollo de una plataforma tecnológica, específica para la preparación de oposiciones, basada en Moodle con desarrollo de nuevas funcionalidades, convirtiéndola en una plataforma única en la recogida de datos y mejorando la experiencia del usuario a través de la gamificación de los contenidos y la interactividad. </p>
                    <p style="text-align:justify; font-size:11px;">Este proyecto ha sido cofinanciado por el Centro para el Desarrollo Tecnológico Industrial y el Fondo Europeo de Desarrollo Regional (FEDER) a través del programa operativo de I+D+i por y para el beneficio de las empresas   - Fondo Tecnológico. </p>
                </div-->

                <div class="thumbnail" style="margin-top:100px;">
                    <img src="https://www.aulacursosoposiciones.com/theme/lambda/login/images/cep.png" alt="cdti" class="img-polaroid">
                </div>

            </div>
        </div>
    </div>
	
</div>
		


{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
